[submodule "RL-OtherApps/odoo-addons-2"]
	path = RL-OtherApps/odoo-addons-2
	url = git@github.com:RL-OtherApps/odoo-addons-2.git
	branch = 13.0

[submodule "OCA-MUK/brand"]
	path = OCA-MUK/brand
	url = git@github.com:OCA-MUK/brand.git
	branch = 13.0

[submodule "OCA-MUK/helpdesk"]
	path = OCA-MUK/helpdesk
	url = git@github.com:OCA-MUK/helpdesk.git
	branch = 13.0

[submodule "OCA-MUK/mis-builder"]
	path = OCA-MUK/mis-builder
	url = git@github.com:OCA-MUK/mis-builder.git
	branch = 13.0

[submodule "OCA-MUK/product-attribute"]
	path = OCA-MUK/product-attribute
	url = git@github.com:OCA-MUK/product-attribute.git
	branch = 13.0

[submodule "OCA-MUK/product-variant"]
	path = OCA-MUK/product-variant
	url = git@github.com:OCA-MUK/product-variant.git
	branch = 13.0
